# Flutter/Dart/Pub
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/app/build/

# VS Code / IntelliJ
.idea/
.vscode/
*.iml

# Firebase (keep local, don’t push to GitHub)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
